<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button color="primary" slot="start" defaultHref=""></ion-back-button>
    <ion-title class="title">Search People and Messages</ion-title>
    <ion-icon
      class="p-2"
      size="large"
      slot="end"
      name="logo-behance"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main text-center">
    <ion-img class="image mb-1" src="assets/icon/bell.svg"></ion-img>
    <p class="main_p">There are no notifications</p>
  </div>
</ion-content>
<app-footer></app-footer>
