<div class="ion-page">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-back-button
        color="primary"
        slot="start"
        defaultHref=""
      ></ion-back-button>
      <ion-img
        class="p-2"
        slot="end"
        src="assets/icon/download.svg"
        alt=""
      ></ion-img>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="h-100 position-relative overflow-auto">
      <div class="main">
        <div class="p-3 d-flex align-items-center">
          <ion-img src="assets/img/quiz.png" alt=""></ion-img>
          <p class="content_p ms-2">Quiz on Spot The Phis</p>
        </div>
        <div class="content_main">
          <div class="col-12">
            <div class="content_head pt-0">
              <ion-badge color="primary" class="col-2 card_badge"
                >To Do&nbsp;<ion-icon
                  name="caret-down-sharp"
                  (click)="presentPopover($event)"
                ></ion-icon
              ></ion-badge>
              <ion-popover
                #popover
                [isOpen]="isOpen"
                (didDismiss)="isOpen = false"
              >
                <ng-template>
                  <ion-content>
                    <ion-list class="p-0">
                      <ion-item lines="none">
                        <div>
                          <h1 class="pop_head m-0 p-0">You Must</h1>
                          <p class="pop_body m-0 p-0">Received a Grade</p>
                        </div>
                      </ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </div>
          </div>
          <div class="col-12 p-3">
            <div class="card">
              <ion-list lines="none" class="list">
                <ion-item>
                  <ion-label class="ryt_label">Attempts Allowed:</ion-label>
                  <ion-label class="ryt_label">2</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="ryt_label">Time Limit:</ion-label>
                  <ion-label class="ryt_label">10 Minutes</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="left_label">Grading Method</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="ryt_label">Highest Grade</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="left_label">Grade to Pass</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="ryt_label">8 out of 10</ion-label>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </div>
        
        <div class="col-12 p-3 pt-0" *ngIf="showGrade">
          <div class="card ion-padding">
            <h1 class="card_head mt-0 mb-3">Summary of Previous Attempts</h1>
            <div class="row">
              <div class="col-1"><p class="table_head">#</p></div>
              <div class="col-8"><p class="table_head">State</p></div>
              <div class="col"><p class="table_head">Grade</p></div>
            </div>
            <div class="row">
              <div class="col-1"><p class="table_content">1</p></div>
              <div class="col-8">
                <p class="col mb-0 table_content">Finished</p>
                <!-- <p class="table_content">
                  Submitted Monday, 19 February 2924, 10:23 AM
                </p> -->
              </div>
              <div class="col">{{quizGrade | number: '1.0-1'}}</div>
            </div>
          </div>
        </div>
        <div class="col-12 p-3 pt-0" *ngIf="showGrade">
          <div class="card mb-3 p-2">
            <p class="high m-0">Highest Grade <strong>1/10</strong></p>
          </div>
          <div>
            <ion-button class="start_btn" expand="block" color="success" (click)="onStart()"
              ><span class="start_span"
                >Re-attempt Quiz</span
              ></ion-button
            >
          </div>
        </div>
      </div>
      <div class="p-3 position-absolute w-100 bottom-0" *ngIf="!showGrade">
        <ion-button class="start_btn" expand="block" color="success" (click)="onStart()"
          ><span class="start_span" 
            >Attempt Quiz Now</span
          ></ion-button
        >
      </div>
    </div>
  </ion-content>
  <ion-footer [translucent]="true">
    <ion-toolbar>
      <div class="col-12 d-flex align-items-center justify-content-between">
        <div>
          <ion-button class="act_btn"
            ><ion-icon
              color="primary"
              slot="start"
              size="small"
              name="chevron-back-sharp"
            ></ion-icon
            >Previous Activity</ion-button
          >
        </div>
        <div>
          <ion-button class="act_btn"
            >Next Activity<ion-icon
              size="small"
              slot="end"
              color="primary"
              name="chevron-forward-sharp"
            ></ion-icon
          ></ion-button>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>
</div>
