.title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.acc_label {
  color: #495057;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.contact_name {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
}