<ion-menu side="end" contentId="main-content" menuId="menu">
  <ion-content class="ion-padding">
    <div class="col-12 text-center" *ngIf="!recentData">
      <h1 class="menu_heading mb-3">Recently Accessed Items</h1>
      <div class="d-flex justify-content-center mb-3">
        <ion-img src="assets/img/recent_access.png"></ion-img>
      </div>
      <p class="menu_body">No Recent Items</p>
    </div>
    <div class="col-12">
      <h1 class="menu_heading mb-3 text-center">Recently Accessed Items</h1>
      <div class="card mb-2" *ngFor="let item of recentData">
        <div class="col-12 card_main" (click)="onCardClick(item)">
          <div>
            <ion-img [src]="item.courseimage ? item.courseimage : 'assets/img/images.png'"
              class="img-fluid" alt="Image"></ion-img>
          </div>
          <div class="col-10 card_sub">
            <div class="card_body p-0">
              <div class="col-12 card_body_sub">
                <h5 class="card_displayname">
                  {{ item.fullname }}
                </h5>
                <!-- <ion-img src="assets/icon/download.svg" alt="" (click)="onDownload($event)"></ion-img> -->
              </div>
              <p class="card_text_badge">
                Course
              </p>
              <div class="col-12 bar_main">
                <div class="progress_bar_container col-10">
                  <div class="progress_bar" [style.width]="item.progress + '%'"></div>
                </div>
                <div class="percentage_display col-2">
                  {{ item.progress | number:'1.0-2' }}%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-menu>

<app-header [profileImg]="userImg"></app-header>
<ion-content [fullscreen]="true" id="main-content">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <div>
    <app-recent-items></app-recent-items>
  </div> -->
  <ion-button class="arrow_btn" slot="fixed" (click)="onArrow()">
    <ion-img src="assets/img/sideArrow.png" alt=""></ion-img></ion-button>
  <div class="ion-padding">
    <div class="anim_card mb-3">
      <p class="col-12 anim_p"><span class="blinker">Announcement</span></p>
      <ion-text class="anim_text">Lorem Ipsum doller site amet Ipsum doller site</ion-text>
    </div>
    <ion-list lines="none" class="course_list">
      <div class="main_one" *ngFor="let item of courseData; let i = index">

        <div class="card mb-2">
          <div class="col-12 card_main" (click)="onCardClick(item)">
            <div>
              <ion-img
                [src]="(utility.getImageUrl(item.overviewfiles) ? utility.getImageUrl(item.overviewfiles) : 'assets/img/images.png')"
                class="img-fluid" alt="Image"></ion-img>
            </div>
            <div class="col-10 card_sub">
              <div class="card_body p-0">
                <div class="col-12 card_body_sub">
                  <h5 class="card_title">
                    {{ item.fullname }}
                  </h5>
                  <!-- <ion-img src="assets/icon/download.svg" alt="" (click)="onDownload($event)"></ion-img> -->
                </div>
                <p class="card_text">
                  Course
                </p>
                <div class="col-12 bar_main">
                  <div class="progress_bar_container col-10">
                    <div class="progress_bar" [style.width]="item.progress + '%'"></div>
                  </div>
                  <div class="percentage_display col-2">
                    {{ item.progress | number:'1.0-2' }}%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </ion-list>
    <hr class="hr"/>
    <div class="mb-1 mt-2">
      <div class="col-12 d-flex justify-content-between sub">
        <div class="icons_sub">
          <ion-icon class="cap_icon" name="school-sharp"></ion-icon>
          <p class="header_sub">Recommended Courses</p>
        </div>
        <!-- <button class="popup_btn" (click)="presentPopover($event)"><ion-icon class="ellipsis" name="ellipsis-horizontal-sharp"></ion-icon></button>
          <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
            <ng-template>
              <ion-content>
                <ion-list class="p-0">
                  <ion-item class="toggle" lines="none" *ngFor="let item of toggleValues">
                    <ion-toggle [(ngModel)]="item.checked" (ionChange)="changeToggle(item)">{{item.name}}</ion-toggle>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover> -->
      </div>
    </div>
    <ion-list lines="none" class="course_list">
      <div class="main_one" *ngFor="let progressBar of recCourses; let i = index">
        <div class="card mb-2">
          <div class="col-12 card_main">
            <div>
              <ion-img src="{{ progressBar.src }}" class="img-fluid rounded-start" alt=""></ion-img>
            </div>
            <div class="col-10 card_sub">
              <div class="card_body p-0">
                <div class="col-12 card_body_sub">
                  <h5 class="card_title">
                    {{ progressBar.name }}
                  </h5>
                  <!-- <ion-img
                  *ngIf="i > 2"
                  src="assets/img/lock.png"
                  alt=""
                ></ion-img> -->
                </div>
                <p class="card_text">
                  {{ progressBar.type }}
                </p>
                <!-- <div class="col-12 bar_main">
                  <div class="progress_bar_container col-10">
                    <div
                      class="progress_bar"
                      [style.width]="progressBar.value * 100 + '%'"
                    ></div>
                  </div>
                  <div class="percentage_display col-2">
                    {{ progressBar.value * 100 }}%
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
<app-footer></app-footer>